In [166]:
import re
import pandas as pd

In [167]:
with open ('grams.txt') as f:
    file = f.readlines()

In [168]:
len(file)

1235

In [207]:
gramms_with_path = []
for line in file:
    if re.search('^Language_Stuff/', line):
        try:
            match = re.search('/(.+)/(.+?)(.+?)[ ]', line).group()
            #print(prmatch)
            gramms_with_path.append(match.replace(';','').replace(',',''))
        except AttributeError:
            match = re.search('^Language_Stuff/(.+?)[ ]', line).group()
            #print(match)
            gramms_with_path.append(match.replace(';','').replace(',',''))

In [208]:
len(gramms_with_path)  # убрались всякие /n

1231

In [210]:
lang = []
for grammar in gramms_with_path:
    a = grammar.split('/')
    lang.append(a[-1])

In [211]:
len(lang)

1231

In [212]:
df = pd.DataFrame({
    'язык' : lang
})
df.head(5)

        язык
0     Nivkh
1     Nivkh
2  Yukaghir
3  Yukaghir
4  Yukaghir

In [213]:
df.to_csv('langs.csv', index=False, encoding='UTF-8')